.btn-cobrar{
    border: 1px solid var(--success);
    color: var(--success);
}
.btn-cobrar:hover{
    transform: translateY(-2px);
    border: 1px solid var(--success-dark);
    color: var(--success-dark);
}

.btn-pdf{
    background-color: var(--danger);
    color: white;
}
.btn-pdf:hover{
    background-color: var(--danger-dark);
    color: white;
}

.btn-xml{
    background-color: var(--warning);
}
.btn-xml:hover{
    background-color: var(--warning-dark);
}

.btn-email{
    background: var(--primary);
    color: white;
}
.btn-email:hover{
    background: var(--primary-dark);
    color: white;
}