.layout-wrapper {
    min-height: 100%S;
}
.content-wrapper {
    width: calc(100% - 240px); 
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.sticky-top {
    position: sticky; 
    top: 0;
    z-index: 999;
}

